# created by virtualenv automatically
*.ui
Lib/
Scripts/
vopros1.py
vopros1.ui
vopros2.py
vopros2.ui
vopros3.py
vopros3.ui
vopros4.py
vopros4.ui
teacher1.py
teacher1.ui
teacher2.py
teacher2.ui
result.py
result.ui
register.py
register.ui
register2.py
register2.ui
testlist.py
testlist.ui
